<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show Person</title>
</head>
<body>


<p th:text="${'ID: ' + person.getId()}">VALUE</p>
<p th:text="${'Name: ' + person.getName()}">VALUE</p>
<p th:text="${'Date of birth: ' + person.showDateOfBirth()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${'Created at: ' + person.showCreatedAt()}">VALUE</p>

<div th:if="${books.isEmpty()}" th:each="book : ${books}">
  <p>Person has not yet taken a book</p>
  <hr/>
</div>

<div th:if="${!books.isEmpty()}">
  <hr/>
  <b>Books:</b>
  <br/>
  <table>
    <tr th:each="book : ${books}">
      <td th:style="${book.isOverdue()} ? 'color:red' : ''" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}">book</td>
    </tr>
  </table>
  <hr/>
</div>

<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
  <input type="submit" value="edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
  <input type="submit" value="delete"/>
</form>

<form th:method="GET" th:action="@{/people}">
  <input type="submit" value="back"/>
</form>

</body>
</html>