<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <label for="author">Enter author:</label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name error</div>
  <br/>
  <label for="year_of_production">Enter year:</label>
  <input type="text" th:field="*{yearOfProduction}" id="year_of_production"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}">Name error</div>
  <br/>
  <input type="submit" value="create!"/>
</form>

</body>
</html>