<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Book</title>
</head>
<body>

<p th:text="${'ID: ' + book.getId()}">VALUE</p>
<p th:text="${'Name: ' + book.getName()}">VALUE</p>
<p th:text="${'Author: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Year of production: ' + book.getYearOfProduction()}">VALUE</p>
<p th:style="'color:red'" th:if="${book.isOverdue()}" th:text="'Overdue!'">VALUE</p>


<div th:if="${owner}">
    <span>Book is now at: </span> <span th:text="${owner.getName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="assign a book"/>
    </form>
</div>

<div th:if="${people}">
    <span>This book is free, who will you assign it to?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/appoint(id=${book.getId()})}">
        <label for="person">Select person:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getName()}">
            </option>
        </select>
       <input type="submit" value="appoint"/>
    </form>
</div>



<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="edit"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="delete"/>
</form>

<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="back"/>
</form>

</body>
</html>