<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Book</title>
</head>
<body>

<p th:text="${'ID: ' + book.getId()}">VALUE</p>
<p th:text="${'Name: ' + book.getName()}">VALUE</p>
<p th:text="${'Author: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Year: ' + book.getYear()}">VALUE</p>

<hr/>
<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <button>edit</button>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <button>delete</button>
</form>

<form th:method="GET" th:action="@{/books}">
    <button>back</button>
</form>

</body>
</html>